.select-style {
  border: 0;
  width: 150px;
  border-radius: 0;
  overflow: hidden;
  display: inline-flex;
}

.select-style svg {
  fill: #ccc;
  width: 14px;
  height: 14px;
  pointer-events: none;
  margin: auto;
}

.select-style svg:hover {
  fill: #e6e6e6;
}

.select-style select {
  padding: 0;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  margin: auto;
  margin-left: 0px;
  margin-right: -20px;
}

.select-style select:focus {
  outline: none;
}

.select-style :hover {
  cursor:  pointer;
}